@font-face {
  font-family: "Base Font";
  src: url("segoeui.ttf");
}
body {
   background-color: #404040;
   color: #000000;
   font-family: "Base Font";
   font-size: 14pt;
}
font, a, p, b, i, strong, em, li, table, td, tr, th {
   color: #FFFFFF;
   font-family: "Base Font";
   font-size: 14pt;
}
input, select, textarea {
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Base Font";
   font-size: 14pt;
}
h1 {
   color: #FFFFFF;
   font-family: "Base Font";
   font-weight: normal;
   font-size: 26pt;
}
h2 {
   color: #FFFFFF;
   font-family: "Base Font";
   font-weight: normal;
   font-size: 20pt;
}
.hover {
   opacity: 0.9;
}
.hover:hover {
   opacity: 0.6;
}
.dialog {
   width: 60%;
   height: 40px;
   top: 0%;
   left: 0%;
   position: absolute;
}
.choice {
   width: 40%;
   height: 40px;
   top: 0%;
   left: 60%;
   position: absolute;
}
.panel {
   width: 100%;
   height: 90%;
   top: 40px;
   left: 0%;
   position: absolute;
   overflow-y: scroll;
}
.lbl {
   top: -15px;
   left: 0%;
   position: relative;
   color: #FFFFFF;
}
.east {
   background-color: #009F4B;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 1;
}
.south {
   background-color: #D83D48;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 1;
}
.west {
   background-color: #DDAB00;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 1;
}
.north {
   background-color: #2264C8;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 1;
}
.center {
   background-color: #5F677A;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 1;
}
.light {
   background-color: #939393;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 1;
}
.dark {
   background-color: #404552;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 1;
}
.east:hover {
   background-color: #009F4B;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 0.5;
}
.south:hover {
   background-color: #D83D48;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 0.5;
}
.west:hover {
   background-color: #DDAB00;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 0.5;
}
.north:hover {
   background-color: #2264C8;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 0.5;
}
.center:hover {
   background-color: #5F677A;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 0.5;
}
.light:hover {
   background-color: #939393;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 0.5;
}
.dark:hover {
   background-color: #404552;
   color: #FFFFFF;
   border: none;
   text-align: center;
   position: relative;
   font-family: "Base Font";
   font-size: 20pt;
   opacity: 0.5;
}
